/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Annie+Use+Your+Telescope&family=Amatic+SC:wght@400;700&family=Chewy&display=swap"); */
@import "tailwindcss";
:root {
  --primary-color: #14469d;
  --secondary-color: #ed1c24;

  --font-raleway: "Raleway", sans-serif;
  --font-annie: "Annie Use Your Telescope", cursive;
  --font-amatic: "Amatic SC", cursive;
  --font-chewy: "Chewy", cursive;
  --color1: #dadadd;
  --color2: #d1cbc5;
  --color3: #c2b8b0;
  --color4: #b7a99d;
  --color5: #9b8c82;
}

.font-raleway {
  font-family: var(--font-raleway);
}

.font-annie {
  font-family: var(--font-annie);
}

.font-amatic {
  font-family: var(--font-amatic);
}

.font-chewy {
  font-family: var(--font-chewy);
}

.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/* Hide scrollbar */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.react-quill-editor {
  height: 300px; /* or whatever you prefer */
  display: flex;
  flex-direction: column;
}

.react-quill-editor .ql-toolbar {
  flex-shrink: 0;
}

.react-quill-editor .ql-container {
  flex: 1;
  overflow-y: auto;
}

.blog-content {
  margin: 0 auto;
  padding: 2rem 1rem;
  line-height: 1.5;
  font-size: 1rem;
}

.blog-content h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-content h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.blog-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.blog-content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.blog-content ul,
.blog-content ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
}

.blog-content li {
  margin-bottom: 0.5rem;
}

.blog-content a {
  color: #b10203; /* Tailwind blue-600 */
  text-decoration: none;
}

.blog-content blockquote {
  border-left: 4px solid #d1d5db; /* gray-300 */
  padding-left: 1rem;
  color: #6b7280; /* gray-500 */
  font-style: italic;
  margin: 1rem 0;
}

.blog-content ul {
  list-style-type: disc; /* bullets */
}

.blog-content ol {
  list-style-type: decimal; /* numbers */
}

.blog-popup-cta {
  margin: 30px 0;
}

.popup-btn {
  background: #14469d;
  color: white;
  padding: 14px 26px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
